<section class="orders light-section"> 
  <div class="container mx-auto pt-12">
    <h1 class="font-bold text-lg mb-4 mx-10"> All orders</h1>
  </div>
  <table class="w-full table-auto bg-white  mx-10 mr-10 ">
    <thead>
      <tr>
        <th class="px-4 py-2 text-left">Customer</th>
        <th class="px-4 py-2 text-left">Address</th>
        <th class="px-4 py-2 text-left">Orders</th>
        <th class="px-4 py-2 text-left">status</th>
        <th class="px-4 py-2 text-left">Phone</th>
        <th class="px-4 py-2 text-left">Placed at</th>
        <!-- <th class="px-4 py-2 text-left">Payment Status</th> -->
     
      </tr>
    </thead>
    <!-- <tbody id="orderTableBody">
    </tbody> -->
    <tbody>
      <% if(orders.length)  { %>
      <% orders.forEach((order)=> { %>
      <tr>
        <td class="border px-4 py-2">
           <a class="link" href="#"><%= order.customerId.name %></a>
        </td>
        <td class="border px-4 py-2">
         <%= order.address %>
        </td>

        
        <td class="border px-4 py-2">
          <!-- <%=  Object.keys(order.items)[0]%> -->
           <% Object.values(order.items).map((menuItem) => { %>
            <%= menuItem.items.name%>
            <%= (menuItem.items.price)%>
            <%= menuItem.qty %>
             <br>
           <% })%>
        </td>

        <td class="border px-4 py-2">
         <%= order.status %>
       </td>

       <td class="border px-4 py-2">
        <%= order.phone %>
      </td>

       <td class="border px-4 py-2">
        <%= order.createdAt %> 
       </td>


      </tr>
      <% }) %>
      <% } else { %>
        <tr>
          <td class="p-4"> <span>No orders found</span> </td>
        </tr>

       <% } %>
    </tbody>

  </table>
</section>